.login-card {
    width: 80%;
    margin: 100px auto 0;
}

.login-card-title {
    padding-left: 25px;
    margin-bottom: 20px;
}

.optionField {
    margin-left: 25px;
}

.qName > p {
    font-size: 20px;
    font-style: oblique;
}

.quest-radio-button {
    margin-right: 25px;
    font-weight: 700;
}

.pageControls {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

::ng-deep .mat-step-label.mat-step-label-active {
    min-width: 0;
}

::ng-deep .mat-step-icon-state-number.mat-step-icon {
    margin-right: 0 !important;
}