/* You can add global styles to this file, and also import other style files */

html, body {
    height: auto;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #00205b;
    background-image: url("assets/images/bubbles-temp-scale2.svg");
}

.mat-horizontal-stepper-header-container {
    overflow: overlay !important;
}